<link rel="stylesheet" href="/home.css">
<div class="header">
    <div class="navbar">
        <div class="welcome">
            <h1>Welcome To Employee Portal</h1>
        </div>
        <div class="nav">
            <button type="submit" class="login" name="login"><a href='login'>Log In</a></button>
            <button type="submit" class="register" name="signup"><a href='signup'>Sign Up</a></button>
        </div>
    </div>
    <div class="main-container">
        <img src="/home.jpg" alt="home-image" />
    </div>
</div>